# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite
*.db
*.db-journal

# App Data (Local)
data/image_cache/
data/clipboard.db
config.json

# Excel temp files
data/Master/~*.xlsx
data/~*.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
